body {
  background: #141414;
  color: #ffffff;
}

.comic-app>.row{
  overflow-x: auto;
  flex-wrap: nowrap;
}

#searchBar {
  background-color: darkgray;
  border: grey;
}

::-webkit-scrollbar {
  background-color: #000000;
  height: 5px;
  width: 0;
}

::-webkit-scrollbar-thumb {
  background-color: grey;
}

.comic-app {
  padding-inline-start: 50px;
  padding-inline-end: 50px;
}

.app-header{
  padding-inline-start: 50px;
  padding-inline-end: 50px;
}

.image-container {
  position: relative;
  transition: transform 0.5s;
  width: 207px;
}

.image-container:hover .comic-img{
  filter: brightness(50%);
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.image-container:hover .overlay {
  opacity: 1;
}

.image-container:hover .overlay2 {
  opacity: 1;
}

.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.overlay2 {
  position: absolute;
  background: rgba(0, 0, 0, 0);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  top: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

#addComicBtn {
  width: 200px;
  height: 280px;
  font-size: xxx-large;
  background-color: rgb(72, 71, 71);
  color: rgb(150, 150, 150);
  border: none;
}

#addComicBtn:hover {
  font-size: xxx-large;
  background-color: rgb(105, 105, 105);
  border: none;
}

#addComicBtn:active:after {
  background-color: rgb(59, 59, 59);
}

.comic-title {
  color: white;
}

/* .login-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  border: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
} */